.idea/
__MACOSX/
.DS_Store
*pycache*
*.pyc
*.egg-info
*.mp4
*build/
*.pem
*.webm
*.jpg
*.svo
*.png
!video_cover.jpg
!head_camera_mount_install.png
!head_camera_mount.png
!real_head.jpg
!real_left_hand.jpg
!real_right_hand.jpg
!wrist_and_ring_mount.png
teleop/data/
teleop/utils/episode_0*